/** @format */

body {
  font-family: Tahoma;
}
.container {
  padding: 40px 20px;
}
.intro {
  padding: 8px;
  background-color: cadetblue;
  color: white;
  margin: 0 auto 50px;
}

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgb(0, 0, 0, 47%);
}

#overlay label {
  letter-spacing: 1px;
}

table th {
  text-transform: uppercase;
}

#d-none {
  display: none;
}

.error {
  color: black;
  background: #ff00006b;
  position: relative;
  width: auto;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
}
