<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/all.min.css" />
    <link rel="stylesheet" href="css/students.css" />
    <link rel="stylesheet" href="css/normalize.css" />
  </head>

  <body>
    <div class="container" id="app">
      <div class="col-lg-12">
        <button class="float-end btn btn-info" @click="show_hide_add(true)">
          <i class="fa-solid fa-user"></i> Add New Student
        </button>
        <button
          class="float-start btn btn-danger"
          @click="show_hide_delete_all(true)"
          v-if="length.length>0"
        >
          <i class="fa-solid fa-user-xmark"></i> Delete All Students
        </button>
        <div class="clearfix"></div>
      </div>
      <hr class="bg-info" />
      <div
        class="alert alert-danger alert-dismissible fade show"
        role="alert"
        v-if="errorMsg"
      >
        {{errorMsg}}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <div
        class="alert alert-success alert-dismissible fade show"
        role="alert"
        v-if="succesMsg"
      >
        {{succesMsg}}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <table
        class="table table-border table-striped caption-top"
        v-if="length.length >0"
      >
        <caption>
          List of Registerd Students ({{length.length}})
        </caption>
        <thead>
          <tr class="bg-success text-light text-center">
            <th><i class="fa-solid fa-user"></i> Name</th>
            <th><i class="fa-solid fa-envelope"></i> Email</th>
            <th><i class="fa-solid fa-phone"></i> Phone</th>
            <th><i class="fa-solid fa-gear"></i> Action</th>
          </tr>
        </thead>
        <tbody v-for="stu in student">
          <tr class="text-center">
            <td>{{stu.name}}</td>
            <td>{{stu.email}}</td>
            <td>{{stu.phone}}</td>
            <td>
              <button
                class="btn btn-danger"
                @click="show_hide_delete(true);deleteUserData()"
              >
                <i class="fa-solid fa-user-xmark"></i> Delete
              </button>
              <button class="btn btn-warning" @click="show_hide_update(true)">
                <i class="fa-solid fa-user-edit"></i> Update
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <h3 v-else>No Students</h3>
      <div id="overlay" v-if="showAdd">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header b-b">
              <h5 class="modal-title text-info">Add New User</h5>
              <button aria-hidden="true" @click="show_hide_add(false)">
                <i class="fa-solid fa-xmark"></i>
              </button>
            </div>
            <div class="modal-body p-4">
              <form action="#" method="post" @click.prevent>
                <div class="error-list">
                  <div class="error" v-for="error in errorList">{{error}}</div>
                </div>

                <div class="form-floating mb-3">
                  <input
                    type="text"
                    name="username"
                    class="form-control"
                    id="username"
                    placeholder="Name"
                    v-model="newUser.name"
                  />
                  <label for="username">
                    <i class="fa-regular fa-user"></i> Student Name</label
                  >
                </div>
                <div class="form-floating mb-3">
                  <input
                    type="email"
                    name="email"
                    class="form-control"
                    id="email"
                    placeholder="Email Address"
                    v-model="newUser.email"
                  />
                  <label for="email">
                    <i class="fa-solid fa-envelope"></i> Student Email</label
                  >
                </div>
                <div class="form-floating mb-3">
                  <input
                    type="tel"
                    name="phone"
                    class="form-control"
                    id="phone"
                    placeholder="Phone"
                    v-model="newUser.phone"
                  />
                  <label for="phone">
                    <i class="fa-solid fa-phone"></i> Student Phone</label
                  >
                </div>
                <div class="d-grid gap2">
                  <button
                    class="btn btn-info"
                    id="add-user"
                    name="add"
                    @click="showUserData()"
                  >
                    Add New User
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div id="overlay" v-if="showUpdate">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header b-b">
              <h5 class="modal-title text-warning">Update User</h5>
              <button aria-hidden="true" @click="show_hide_update(false)">
                <i class="fa-solid fa-xmark"></i>
              </button>
            </div>
            <div class="modal-body p-4">
              <form action="#" method="post" @click.prevent>
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    name="username"
                    class="form-control"
                    id="username"
                    placeholder="Name"
                  />
                  <label for="username">
                    <i class="fa-regular fa-user"></i> Student Name</label
                  >
                </div>
                <div class="form-floating mb-3">
                  <input
                    type="email"
                    name="email"
                    class="form-control"
                    id="email"
                    placeholder="Email Address"
                  />
                  <label for="email">
                    <i class="fa-solid fa-envelope"></i> Student Email</label
                  >
                </div>
                <div class="form-floating mb-3">
                  <input
                    type="tel"
                    name="phone"
                    class="form-control"
                    id="phone"
                    placeholder="Phone"
                  />
                  <label for="phone">
                    <i class="fa-solid fa-phone"></i> Student Phone</label
                  >
                </div>
                <div class="d-grid gap2">
                  <button class="btn btn-warning" name="update">
                    Update User
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div id="overlay" v-if="showDelete">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header b-b">
              <h5 class="modal-title text-danger">Delete User</h5>
              <button aria-hidden="true" @click="show_hide_delete(false)">
                <i class="fa-solid fa-xmark"></i>
              </button>
            </div>
            <div class="modal-body p-4">
              <form action="#" method="post" class="text-danger" @click.prevent>
                <input type="text" name="id" id="d-none" />
                <p>
                  <i class="fa-regular fa-user"></i>
                  <span>Omar Khaled</span>
                </p>
                <p>
                  <i class="fa-solid fa-envelope"></i>
                  <span> omaromar@gmail.com</span>
                </p>
                <p>
                  <i class="fa-solid fa-phone"></i>
                  <span>01948393220</span>
                </p>
                <div class="d-grid gap2">
                  <button class="btn btn-danger" @click="deleteUserData()">
                    Delete User
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div id="overlay" v-if="deleteAll">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header b-b">
              <h5 class="modal-title text-danger">Delete All Users</h5>
              <button aria-hidden="true" @click="show_hide_delete_all(false)">
                <i class="fa-solid fa-xmark"></i>
              </button>
            </div>
            <div class="modal-body p-4">
              <form action="#" method="post" @click.prevent class="text-danger">
                <h4 class="text-center">
                  Are You Sure, you wnat delete all users
                </h4>

                <div class="d-grid gap2">
                  <br />
                  <button
                    class="btn btn-danger mb-2"
                    @click="student=[];length=[];show_hide_delete_all(false)"
                  >
                    Yes, Delete All Users
                  </button>
                  <button
                    class="btn btn-success"
                    @click="show_hide_delete_all(false)"
                  >
                    No
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/all.min.js"></script>
    <script src="js/vue.js"></script>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          errorList: [],
          succesMsg: false,
          errorMsg: false,
          student: [
            {
              name: "Omar",
              email: "Omarkhaled12oki@gamil.com",
              phone: "01234567890",
            },
            {
              name: "hany",
              email: "hanyahmed15@gamil.com",
              phone: "01234567890",
            },
            {
              name: "ahemd",
              email: "ahmedkahled@gmail.com",
              phone: "01234567890",
            },
          ],
          length: [1, 1, 1],
          showAdd: false,
          showDelete: false,
          showUpdate: false,
          deleteAll: false,
          newUser: {
            name: null,
            email: null,
            phone: null,
          },
          updateUser: {
            name: null,
            email: null,
            phone: null,
          },
        },
        methods: {
          show_hide_add(value) {
            this.showAdd = value;
          },
          show_hide_delete(value) {
            this.showDelete = value;
          },
          show_hide_update(value) {
            this.showUpdate = value;
          },
          show_hide_delete_all(value) {
            this.deleteAll = value;
          },
          showUserData() {
            this.errorList = [];
            if (!this.newUser.name) {
              this.errorList.push("the user name can't be empty");
              console.log(this.errorList);
            }
            if (!this.newUser.email) {
              this.errorList.push("the user email can't be empty");
              console.log(this.errorList);
            }
            if (!this.newUser.phone) {
              this.errorList.push("the user phone can't be empty");
              console.log(this.errorList);
            }
            if (this.errorList.length == 0) {
              this.length.push(1);
              this.student.push({
                name: this.newUser.name,
                email: this.newUser.email,
                phone: this.newUser.phone,
              });
              this.show_hide_add(false);
              this.newUser.name = null;
              this.newUser.email = null;
              this.newUser.phone = null;
            }
          },
          deleteUserData(e) {
            console.log(e.length());
          },
        },
      });
    </script>
  </body>
</html>
